#
library/__pycache__
*.pyc
# Ignore any data files
data/*
!data/README.md
!data/tags.json
# Ignore environment variable for the debugger
.env/*
!.env/run.env
!.env/README.md
# Ignore log files
log/*
!log/README.md